:root{
    --color-brown: #4d3227;
    --color-orange: #cd7700;
    --color-caramelo: #ebc999;
    --color-white: #fff;
    --font-body:'Zilla Slab', serif;
}

body{
    font-family: var(--font-body) !important;
}

.bg-marrom{
    background-color: var(--color-brown);
}

.text-orange{
    color: var(--color-orange) !important;
}

.bg-caramelo{
    background-color: var(--color-caramelo);
}

.text-white{
    color:var(--color-white);
}

.card-body{
    display: flex;
    align-items: flex-end;
}

.carousel-item > img{
    max-height: 30em;
}

.btn-outline-orange{
    border-color: var(--color-orange) !important; 
    background-color: transparent !important;
    color: var(--color-brown) !important;
}

.img-group{
    width: 3vw;
    height: 50vh;
}