:root{
    --color-brown: #4d3227;
    --color-orange: #cd7700;
    --color-caramelo: #ebc999;
    --color-white: #fff;
    --font-body:'Zilla Slab', serif;
}

body{
    font-family: var(--font-body) !important;
}

section{
    min-height: 100vh;
}

.bg-marrom{
    background-color: var(--color-brown);
}

.text-orange{
    color: var(--color-orange);
}

.bg-caramelo{
    background-color: var(--color-caramelo);
}

.text-white{
    color:var(--color-white);
}

.card{
    height: 20rem !important;
}

.card-img-top{
    height: 70%;
    width: 80%;
}
